@font-face {
  font-family: Inter;
  src: url(./Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
  font-family: SusaBold;
  src: url(./Susa/[HJT]\ Susa/Susa-Bold.otf);
}

body {
  background: #F0EBCE;
}

.putih {
  color: white;
}

.ijo {
  color: #395144;
}

.kuning {
  color: #AA8B56;
}

.kuning-terang {
  color: #F0EBCE;
}

.inter {
  font-family: Inter;
  font-style: normal;
}

.gambar-logo {
  width: 100px;
  height: 100px;
}

.logo {
  position: relative;
  width: 574px;
  height: 80px;
  top: 47px;
  white-space: nowrap;
}

.paragraf {
  width: 600px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
}

.berhasil {
  /* visibility: hidden; */
  width: 600px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #AC3737;
  text-align: center;
}

.tombol {
  width: 200px;
  height: 70px;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
}

.green-bar {
  background: linear-gradient(225deg, rgba(57, 81, 68, 0.9) 0.01%, rgba(57, 81, 68, 0.9) 0.02%, rgba(78, 108, 80, 0.9) 58.23%);
  border-radius: 10px;
  border-color: #395144;
  /* border: none; */
}

.white-bar {
  box-sizing: border-box;
  background-color: white;
  border-color: #395144;
  border-width: 3px;
  border-radius: 10px;
}

.pendaftaran {
  position: relative;
  left: 0px;
  height: 40px;
  opacity: 0.8;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* display: flex; */
}

/* ::placeholder {
  font-family: Inter;
  font-style: normal;
  color: #F0EBCE;
  opacity: 1;
}

::-webkit-input-placeholder {
  color:    #F0EBCE;
}
:-moz-placeholder {
 color:    #F0EBCE;
 opacity:  1;
}
::-moz-placeholder {
 color:    #F0EBCE;
 opacity:  1;
}
:-ms-input-placeholder {
 color:    #F0EBCE;
}
::-ms-input-placeholder {
 color:    #F0EBCE;
} */

#soma {
  font-family: 'SusaBold';
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 88px;
  white-space: nowrap;
}

#solusi {
  /* position: relative;
  left: 30%; */
  font-weight: 700;
  font-size: 40px;
  line-height: 88px;
  /* display: flex; */
  align-items: center;
  white-space: nowrap;
}